[Unit]
Description=Dameon for F&Home smart home system
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fhomed
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
