<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>fhome site</title>
    <link rel="stylesheet" href="public/assets/styles.css">
    </head>

    <body>
        <h1>Hello from F&Home</h1>
        <p>Welcome!</p>
        <p>You have {{len .Cells}} objects in {{len .Panels}} panels.</p>

        <!-- Display all panels and cells -->
        {{range $i, $panel := .Panels}}
            <h2>{{$panel.Name}} ({{len $panel.Cells }} objects) </h2>
            <ul>
                {{range $j, $cell := $panel.Cells}}
                    <li>{{$cell.Name}} / {{$cell.ID}}</li>
                {{end}}
            </ul>
        {{end}}
    </body>
</html>
